In [11]:
#question 1

#i
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print('sorted ages: ',ages) #Sort the list
print('min age: ',min(ages)) #minimum age
print('max age: ',max(ages)) #maximum age

#ii
ages.append(min(ages)) #Add the min age again to the list
ages.append(max(ages)) #Add the max age again to the list
print('New ages: ',ages) #print ages list

#iii
n = len(ages) # length of ages
if(n%2 == 0):
    med = (ages[int((n)/2)] + ages[int((n+1)/2)])/2 #median formula if length is even
else:
    med = ages[int((n+1)/2)] #median formula if length is odd

print('Median: ',int(med)) #print median

#iv
sum = 0 #initialize sum = 0
for i in range(n):
    sum = sum + ages[i] #find sum of ages
    
print('average: ',sum/n) # print average

#v
r = max(ages) - min(ages) #range of r
print('range: ',r)

sorted ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min age:  19
max age:  26
New ages:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median:  24
average:  22.75
range:  7

In [5]:
#question 2

#creating empty dictonary named dog
dog = {}
print(dog) #print dog dictonary

# adding items to dog dictonary 
dog['name']='honey'
dog['color']='black'
dog['breed']='husky'
dog['legs']=4
dog['age']=10

print('dog dictonary: ',dog) #print dog dictonary

#creating student dictonary
student = {'first_name':'yaswanth', 'last_name':'motamarri', 'gender':'male', 'age':24, 'marital status':'none',
'skills':['python','java','c#'], 'country':'India', 'city':'hyderabad', 'address':'1/23 123rd street 66666'}

print('student dictonary: ',student) #print student dictonary

print('length of the student dictionary: ',len(student)) #print length student dictonary

print('skills in student dictonary: ',student['skills']) #print value of skills in student dictonary
print('data type of skills in student dictonary: ',type(student['skills'])) #print data type of skills in student dictonary

student['skills'].append('c') #adding elements to the skills
student['skills'].append('c++') #adding elements to the skills
print(student['skills']) #print value of skills in student dictonary

print(student.keys()) #print keys of student dictonary
print(student.values()) #print values of student dictonary

{}
dog dictonary:  {'name': 'honey', 'color': 'black', 'breed': 'husky', 'legs': 4, 'age': 10}
student dictonary:  {'first_name': 'yaswanth', 'last_name': 'motamarri', 'gender': 'male', 'age': 24, 'marital status': 'none', 'skills': ['python', 'java', 'c#'], 'country': 'India', 'city': 'hyderabad', 'address': '1/23 123rd street 66666'}
length of the student dictionary:  9
skills in student dictonary:  ['python', 'java', 'c#']
data type of skills in student dictonary:  <class 'list'>
['python', 'java', 'c#', 'c', 'c++']
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['yaswanth', 'motamarri', 'male', 24, 'none', ['python', 'java', 'c#', 'c', 'c++'], 'India', 'hyderabad', '1/23 123rd street 66666'])

In [12]:
#question 3

#creating sister and brother tuples
sisters = ('anvi','bhavya','megana')
brothers = ('sai','srikar','madan')

print('sisters: ',sisters) #print sisters tuple
print('brothers: ',brothers) #print brothers tuple

siblings = sisters+brothers #Joining brothers and sisters tuples and assigning it to siblings
print("siblings: ",siblings) #print siblings tuple

num = len(siblings) #counting number of siblings
print("number of siblings: ",num) #print the count

#Modifying the siblings tuple and adding names of father and mother and assigning it to family_members
siblings_lst = list(siblings) # converting tuple to list
siblings_lst.append('purna') #add father name to list
siblings_lst.append('chandra') #add mother name to list
siblings = tuple(siblings_lst) #converting list back to tuple

family_members = siblings #assigning sibilings to family_members
print('family members: ',family_members)

sisters:  ('anvi', 'bhavya', 'megana')
brothers:  ('sai', 'srikar', 'madan')
siblings:  ('anvi', 'bhavya', 'megana', 'sai', 'srikar', 'madan')
number of siblings:  6
family members:  ('anvi', 'bhavya', 'megana', 'sai', 'srikar', 'madan', 'purna', 'chandra')

In [13]:
#Question 4

#creating set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

#creating set A
A = {19, 22, 24, 20, 25, 26}

#creating set B
B = {19, 22, 20, 25, 26, 24, 28, 27}

#creating list age
age = [22, 19, 24, 25, 26, 24, 25, 24]

length_it_companies = len(it_companies) # length of the set it_companies
print('length of set it_companies: ',length_it_companies) #print length of set it_companies

it_companies.add("Twitter") #Adding 'Twitter' to it_companies
print('set it_companies: ',it_companies) #print set it_companies

it_companies.update(['cognizant','infosys','wipro']) #Inserting multiple IT companies at once to the set it_companies
print('new set it_companies: ',it_companies) #print new set it_companies

it_companies.remove('wipro') #removing 'wipro' from the set it_companies
print('set it_companies without wipro: ',it_companies) #print set it_companies without 'wipro'

'''What is the difference between remove and discard'''
'''-->discard() is a built in method which is used to remove a specific element from a set, if the element is not present in the set,
it prints the original set instead of raising an error or exception.'''
'''-->remove() is also a built in method which is used to remove a specific element from a set,but it will throw an error or 
exception if the element is not present in the set'''

print('Joining sets A and B: ',A.union(B)) #Joining sets A and B
print('intersection of sets A and B: ',A.intersection(B)) #intersection of sets A and B
print('A is subset of B: ',A.issubset(B))#checking if A is subset of B, prints true if A is subset of B else prints false
print('A, B are disjoint sets: ',A.isdisjoint(B))#checking if A, B are disjoint sets, prints true if A, B are disjoint sets else prints false

C=A.union(B) #Joining A with B 
D=B.union(A) #Joining B with A
print('Joining A with B :',C)
print('Joining B with A: ',D)

print('symmetirc difference: ',A.symmetric_difference(B)) #print symmetric difference between A and B

set_age = set(age) # convert list to set
print('list age: ',age) #prints list age
print('set_age: ',set_age) #prints set_age
print("age list length:",len(age),"\n","set age length:",len(set_age))

'''Delete sets it_companies, A, B'''
del it_companies
del A
del B
print(it_companies) #Throws Error
print(A) #Throws Error
print(B) #Throws Error

length of set it_companies:  7
set it_companies:  {'Facebook', 'IBM', 'Twitter', 'Google', 'Microsoft', 'Amazon', 'Oracle', 'Apple'}
new set it_companies:  {'Facebook', 'Amazon', 'Apple', 'Twitter', 'Oracle', 'cognizant', 'IBM', 'Google', 'infosys', 'Microsoft', 'wipro'}
set it_companies without wipro:  {'Facebook', 'Amazon', 'Apple', 'Twitter', 'Oracle', 'cognizant', 'IBM', 'Google', 'infosys', 'Microsoft'}
Joining sets A and B:  {19, 20, 22, 24, 25, 26, 27, 28}
intersection of sets A and B:  {19, 20, 22, 24, 25, 26}
A is subset of B:  True
A, B are disjoint sets:  False
Joining A with B : {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
symmetirc difference:  {27, 28}
list age:  [22, 19, 24, 25, 26, 24, 25, 24]
set_age:  {19, 22, 24, 25, 26}
age list length: 8
 set age length: 5

NameError: name 'it_companies' is not defined

In [104]:
#Question 5

import math
radius = 30

_area_of_circle_ = math.pi*radius*radius #area of the circle formula
_circum_of_circle_ = 2*math.pi*radius #circumference of the circle formula
print("area of a circle is ",_area_of_circle_) #print area of the circle
print("circumference of a circle is",_circum_of_circle_) #print circumference of the circle

radius = input("enter radius ") #user input

print("area of a circle is ",math.pi*float(radius)*float(radius)) #print area of the circle
print("circumference of a circle is",2*math.pi*float(radius)) #print circumference of the circle

area of a circle is  2827.4333882308138
circumference of a circle is 188.49555921538757
enter radius 10
area of a circle is  314.1592653589793
circumference of a circle is 62.83185307179586

In [14]:
#Question 6

str_1 = "I am a teacher and I love to inspire and teach people"
list_str = str_1.split() # convert string to list
print(list_str) #print the list

set_str = set(list_str) #convert the list to set to get unique words
print(set_str)
print("no of unique words: ",len(set_str)) #print the length of set_str to get count of unique words used in above sentence

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'inspire', 'am', 'teach', 'to', 'and', 'a', 'teacher', 'people', 'I', 'love'}
no of unique words:  10

In [107]:
#Question 7

#using tab escape sequence
print('Name','\t\t','Age','\t','Country','\t','City')
print('Asabeneh','\t','250','\t','Finland','\t','Helsinki')

Name 		 Age 	 Country 	 City
Asabeneh 	 250 	 Finland 	 Helsinki

In [108]:
#Question 8

radius = 10
area = 3.14 * radius ** 2

print("The area of a circle with radius {0} is {1} meters square.".format(radius,int(area)))

The area of a circle with radius 10 is 314 meters square.

In [15]:
#Question 9

L1 = []
L2 = []
N = input("enter no of students: ") #user input for no of students
i=0

#loop to get wights of students
while i<int(N):
    x=input() #user input to get weights in lb
    L1.append(int(x)) # add the weights to list L1
    i = i+1
    
print(L1) #print weights in lb

# loop to convert weights to kg
for i in L1:
    L2.append(i*0.45359237) # add the weights to list L1

print(L2) #print weights in kg

enter no of students: 4
150
155
145
148
[150, 155, 145, 148]
[68.0388555, 70.30681735, 65.77089365, 67.13167076]